@charset "UTF-8";

@media screen and (max-width: 1400px) {
    .produtos {
        width: 230px;
        height: 300px;
    }

    .img_lazyloaded {
        position: absolute;
        width: 230px;
        height: 220px;
        margin-top: -30px;
        margin-left: -230px;
        opacity: 0%;
        cursor: pointer;
    }

    .produtos:hover > .img_lazyloaded {
        opacity: 100%;
        margin-top: -30px;
        }

    .img_prin {
        width: 230px;
        height: 170px;
        display: inline;
        margin-left: -10px;
        cursor: pointer;
    }

    
    #produto2 {
        margin-top: 500px;
        margin-left: 50px;
    }

    #produto3 {
        margin-top: 900px;
        margin-left: 50px;
        margin-bottom: 200px;
    }

    .nome_produtos {
        margin-left: -5px;
    }

    .preco_produtos {
        margin-left: -5px;
    }
}